.social-media-div {
    font-size: 2em;
}

.icon-button {
    margin-bottom: 10px;
}

.icon-button svg {
    color: $textColorDark;
    border-radius: 2.6rem;
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
    transition: 0.2s ease-in;
    padding: 0.5rem;
}

.icon-button svg path {
    width: 100%;
}

.linkedin svg {
    background-color: $linkedin;
}

.github svg {
    background-color: $github;
}

.google svg {
    background-color: $google;
}

.google svg:hover,
.github svg:hover,
.linkedin svg:hover {
    background-color: $textColor;
}

@media (max-width: 768px) {
    .social-media-div {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .icon-button svg{
        padding: 0.6rem;
    }
}